@using tl2_tp8_2025_NievaS24.Models
@model List<Presupuestos>

<h2 class="text-center my-4">Presupuestos</h2>

<div class="text-center mb-4">
    <a class="btn btn-primary btn-lg px-5" asp-controller="Presupuestos" asp-action="Create"> Crear </a>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Destinatario</th>
            <th>Fecha de creación</th>
            <th>Detalles</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Presupuestos p in Model)
        {
            <tr>
                <td>@p.idPresupuesto</td>
                <td>@p.NombreDestinatario</td>
                <td>@p.FechaCreacion.ToString()</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-controller="Presupuestos" asp-action="Details"
                        asp-route-id="@p.idPresupuesto"> Ver detalle </a>
                </td>
                <td><a asp-controller="Presupuestos" asp-action="Update" asp-route-id="@p.idPresupuesto"
                        class="text-decoration-none">✏</a></td>
                <td><a asp-controller="Presupuestos" asp-action="Delete" asp-route-id="@p.idPresupuesto"
                        class="text-decoration-none">🗑</a></td>
            </tr>
        }
    </tbody>
</table>